header{
    background-color: $colorprincipal;
    grid-area: header;
    @include flexbox(row, nowrap, flex-start, start);

    #logo{
        background-color: $colorprincipal;
        flex-grow: 1;

        #navheader{
            background-color: $colorprincipal;
            flex-grow: 0;
        }
    }

    #menu .envio{
        @include flexbox(row, nowrap, space-evenly, start);

        input{
            @include contenedor(none, white, 2px, 4px 80px, 2px solid black, 5px);
            
            
        }
    }

    label{
        @include contenedor(none, #999999, 2px, 4px, 2px solid black, 5px);

    }
    .registrar{
        background-color: #E8CA4D;;
    }

    .menudenav{
        background-color: $colorprincipal;
        color: white;
        flex-grow: 1;
    }

    #menudenav1{
        @include flexbox(row, nowrap, space-evenly, flex-start);
        margin-top: 35px;

        li{
            list-style-type: none;
            text-decoration: none;

            a{
                color: white;
                list-style-type: none;
                text-decoration: none;
            }
        }
    
    }


}